SPOOLRAIL_PREFIX=spoolrail-tests-external

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=

GOOGLE_CLOUD_PROJECT=
SPOOLRAIL_GOOGLE_CREDENTIALS=
SPOOLRAIL_GOOGLE_PUBSUB_ENDPOINT=us-east1-pubsub.googleapis.com
