{
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["**/*.blade.php"],
            "options": {
                "parser": "blade"
            }
        },
        {
            "files": [
                "**/.vscode/extensions.json",
                "**/.vscode/settings.json",
                "**/.zed/settings.json"
            ],
            "options": {
                "parser": "json",
                "trailingComma": "none"
            }
        }
    ]
}
